/* .container {
	display: flex;
	justify-content: center;
} */
.App-header {
	position: fixed;
	width: 100%;
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.search-books {
	position: relative;
	padding-top: 100px;
	font-size: 20px;
	text-align: center;
}
.searchBook {
	font-size: 20px;
	padding-left: 10px;
	text-align: left;
}
.bookList {
	padding: 50px;
	display: block;
	width: 100%;
}

.bookitem {
	float: left;
	box-sizing: border-box;
	width: 40%;
	height: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
}
.bookdescription {
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
}
.bookimage {
	width: 20%;
	float: left;
	margin: 20px;
}
